* {
    margin: 0;
    padding: 0;
}

:root {
    --button-color: 1A4131;
    --second-color: 3F816A;
}

body {
    background-color: #F3EAE3;
}

.container {
    background-color: white;
    display: flex;
    position: absolute;
    height: 509px;
    width: 644px;
    text-align: center;
    left: 280px;
    top: 30px;
    margin: 90px ;
    border-radius: 20px;
    
}

.container img {
    max-height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.info {
    max-height: 100%;
    padding: 20px;
    text-align: left;
}
.info .perfume {
    font-size: 20px;
    color: #777;
    font-family: 'Lucida Sans',
     'Lucida Sans Regular',
      'Lucida Grande',
       'Lucida Sans Unicode', Geneva,
        Verdana, sans-serif;
}



.info p {
    margin-top: 25px;
    padding-bottom: 30px;
    line-height: 1.4;
    color: rgba(93, 89, 89, 0.856);
}
.price {
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
    color: #3F816A;
}
.sale {
    text-decoration: line-through;
    color: #777;
}

button {  
    padding: 13px;
    margin: 17px;
    background-color: #3F816A;
    color: white;
    border-radius: 10px;
    width: 219px;
    border: none;
}

button:hover{
    background-color: #1A4131;
}

button img {
    margin-right: 10px;
}

/* Media Queries */
@media(max-width: 768px){
    .container {
      padding: 0;
      margin: 0;
      left: 0;
      top: 0;
      width: 100%;
      flex-direction: column;
    }
    .container img {
        border-radius: 0;
        max-width: 100%;
        border: none;
    }
    .info {
        text-align: center;
    }
}